.comment {
  color: rgb(0, 183, 255);
  animation: fadeIn 10s ease 10s 1 normal;
}
@keyframes fadeIn {
  /*animation-nameで設定した値を書く*/
  0% {
    opacity: 0;
  } /*アニメーション開始時は不透明度0%*/
  100% {
    opacity: 1;
  } /*アニメーション終了時は不透明度100%*/
}
