header {
  /* border: solid 1px rgb(0, 255, 106); */
  height: 50px;
  width: 100%;
  padding: 0 0;
  margin: 0 0;
  background-color: #ff00aa;
  color: white;
}
header .headline {
  /* border: solid 1px rgb(119, 0, 255); */
  line-height: 50px;
  float: left;
  margin: 0 0;
  font-size: 30px;
  margin-left: 100px;
}

.logo_button {
  border: 0px;
  background-color: #ff00aa;
  color: white;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
}

body {
  position: relative;
}

.title_logo {
  position: static;
  /* border: solid 1px black; */
  position: absolute;
  height: 100px;
  width: 95vw;
  text-align: center;
  padding: 100px 0;
  font-size: 100px;
  color: #ff00aa;
  animation: fadeIn 10s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text {
  position: absolute;
  text-align: center;
  width: 95vw;
  top: 60vh;
}

.input {
  position: absolute;
  text-align: center;
  width: 95vw;
  top: 70vh;
}
.name-button {
  background-color: #ff00aa;
  color: #ffffff;
  border-radius: 20px;
}
.name-button:hover{
  background-color: #a0006b;
}
.link {
  position: relative;
  text-align: center;
  width: 95vw;
  top: 80vh;
}
.link1 {
  position: absolute;
  left: 20%;
}

.link2 {
  position: absolute;
  left: 60%;
}
.link-btn {
  animation: fadeIn 3s ease 0s 1 normal;
  display: block;
  padding: 25px 0 0 0;
  background-color: #ff00aa;
  color: #ffffff;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  text-decoration: none;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.link-btn:hover {
  background-color: #a0006b;
}
/* ハート関連 */
.randomHeart {
  /* border: solid 1px rgb(255, 0, 0); */
  position: absolute;
  display: flex;
  height: calc(100vh - 100px);
  width: 95vw;
  flex-wrap: wrap;
  z-index: -1;
}
.heart {
  padding: 0;
  margin: 0 0 0 0;
  box-sizing: border-box;
  list-style: none;
  top: 0px;
  left: 0px;
  height: 100px;
  pointer-events: none;
}

.heart {
  opacity: 0;
}

/* ハートのフェードイン */
.fadeUp {
  animation: fadeUpAnime 3s linear 2s 50 normal;
}
@keyframes fadeUpAnime {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 0.7;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
