header {
  /* border: solid 1px rgb(0, 255, 106); */
  height: 7vh;
  width: 100%;
  padding: 0 0;
  margin: 0 0;
  background-color: #ff00aa;
  color: white;
}
header .headline {
  /* border: solid 1px rgb(119, 0, 255); */
  line-height: 7vh;
  float: left;
  margin: 0 0;
  font-size: 2vh;
  margin-left: 100px;
}

.logo_button {
  border: 0px;
  background-color: #ff00aa;
  color: white;
  height: 7vh;
  font-size: 4vh;
  font-weight: bold;
}

body {
  position: relative;
}

.message {
  /* border: solid 1px black; */
  position: absolute;
  height: 5vh;
  width: 100vw;
  text-align: center;
  top: 0vh;
  padding: 1vh 0 0 0;
  font-size: 8vh;
  color: #ff00aa;
}

.text1 {
  /* border: solid 1px black; */
  position: absolute;
  top: 20vh;
  width: 100vw;
  margin: 0px 0px 2vh 0px;
  text-align: center;
  font-size: 3vh;
}
.carrer_choice {
  /* border: solid 5px rgb(51, 255, 0); */
  position: absolute;
  top: 25vh;
  width: 100vw;
  height: 60vh;
  text-align: center;
  font-size: 2vh;
}
.radiobuttons {
  /* border: solid 3px rgb(0, 255, 170); */
  height: 90%;
  width: 50%;
  position: absolute;
  top: 0vh;
  margin: 0px 10vw 0px 20vw;
  columns: 3;
}
.radiobuttons input {
  display: none;
}

.radiobuttons label {
  display: block;
  background: #ffffff;
  padding: 0px;
  margin: 0px 0px 5vh 5vw;
  float: left;
  width: 20vh;
  height: 20vh;
  padding-left: 0px;
  color: #ff00bf;
  text-align: center;
  line-height: 4vh;
  cursor: pointer;
  border: 0.5vh solid #000000;
  font-size: 1vw;
  border-radius: 0px;
}

.radiobuttons input[type="radio"]:checked + label {
  background-color: #ff00f2;
  color: #000000;
}

/* .icon_area {
  border: solid 1px rgb(17, 0, 255);
  width: 100%;
  height: 100%;
}
*/
.carrer_icon {
  /* border: solid 1px rgb(0, 255, 170); */
  width: 15vh;
  height: 15vh;
}

.input_form {
  animation: fadeIn 3s ease 0s 1 normal;
  position: absolute;
  top: 62vh;
  left: 40vw;
}

.submit_button {
  animation: fadeIn 3s ease 0s 1 normal;
  position: absolute;
  top: 60vh;
  left: 30vw;
  width: 200px;
  height: 50px;
}
.submit_button {
  color: #ffffff;
  background-color: #ff00aa;
  border-radius: 20px;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.submit_button:hover {
  background-color: #a0006b;
}
