<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style type="text/css" media="screen">
      @import url("/static/css/enter.css");
    </style>
    <title>Heartful</title>
    <link rel="shortcut icon" href="/static/images/heart_pink.png" type="image/vnd.microsoft.icon">
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>

  </head>
  <meta charset="utf-8" />
  <body>
    <!-- ヘッダー -->
    <header>
      <h1 class="headline">
        <a>Heartful</a>
      </h1>
    </header>
    <!-- ヘッダー終わり -->
    <h1 class="title_logo">Heartful</h1>
    <h1 class="text">名前を入力してください</h1>

    <form class="input" action="/hello" method="POST">
      <input type="text" name="name" value="クジラ" />
      <input type="submit" value="送信" />

    </form>

    <div class="link">
      <div class="link1">
        <a href="http://127.0.0.1:8080/praise">褒めたい人はこちら</a>
      </div>
      

      <div class="link2">
        <a href="http://127.0.0.1:8080/user_info">褒められたい人はこちら</a>
      </div>
    </div>
    
    <!--Javascriptで中身を追加-->
    <ul class="randomHeart" id = "randomHeart">
    </ul>

    <script type="text/javascript" src="/static/js/heart_add.js"></script>
    <script type="text/javascript" src="/static/js/heart_float.js"></script>
  </body>
</html>
