<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style type="text/css" media="screen">
      @import url("/static/css/enter.css");
    </style>
    <title>Heartful</title>
    <link rel="shortcut icon" href="/static/images/heart_pink.png" type="image/vnd.microsoft.icon">
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>

  </head>
  <meta charset="utf-8" />
  <body>
    <!-- ヘッダー -->
    <header>
      <h1 class="headline">
        <button type="button" id="logo_button" class="logo_button">Heartful</button>
      </h1>
    </header>
    <!-- ヘッダー終わり -->
    <h1 class="title_logo">Heartful</h1>
    <h1 class="text">名前を入力してください</h1>
    <div class="input">
      <input id="input-name" type="text" name="name" placeholder="名前を入力">
      <button class="name-button" id="name-button">決定</button>
      <div id="output-name"></div>
    </div>


    <div class="link">
      <div class="link1" id="link1">
        <!-- デプロイ時はherokuのurlにする -->
        <!--a class="link-btn" href="http://127.0.0.1:8080/praise"></a-->
      </div>
      

      <div class="link2" id="link2">
        <!-- デプロイ時はherokuのurlにする -->
        <!--a class="link-btn" href="http://127.0.0.1:8080/user_info"></a-->
      </div>
    </div>
    
    <!--Javascriptで中身を追加-->
    <ul class="randomHeart" id = "randomHeart">
    </ul>

    <script type="text/javascript" src="/static/js/logo_button.js"></script>
    <script type="text/javascript" src="/static/js/enter.js"></script>
    <script type="text/javascript" src="/static/js/heart_add.js"></script>
    <script type="text/javascript" src="/static/js/heart_float.js"></script>
  </body>
</html>
