<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ほめるサイト</title>
    <link rel="shortcut icon" href="/static/images/heart_pink.png" type="image/vnd.microsoft.icon">
    <style type="text/css" media="screen">
      @import url("/static/css/happy.css");
    </style>
  </head>
  <meta charset="utf-8" />
  <body>
    <!-- ヘッダー -->
    <header>
      <h1 class="headline">
        <a>ほめるサイト</a>
      </h1>
    </header>
    <!-- ヘッダー終わり -->
    <ul id="comment-list"></ul>
    <ul class="heart-comment" id = "heart-comment">
    </ul>
  </body>
  <script type="text/javascript" src="/static/js/displayPraises.js"></script>
</html>