<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ほめるサイト</title>
  </head>
  <meta charset="utf-8" />
  <body>
    <!-- ヘッダー -->
    <header>
      <h1 class="headline">
        <a>ほめるサイト</a>
      </h1>
    </header>
    <!-- ヘッダー終わり -->
    <h2>誉め言葉一覧</h2>
    <ul id="comment-list">
    </ul>
  </body>
  <script type="text/javascript" src="/static/js/displayPraises.js"></script>
</html>