<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style type="text/css" media="screen">
      @import url("/static/css/praise.css");
    </style>
    <title>ほめるサイト</title>
  </head>
  <meta charset="utf-8" />
  <body>
    <!-- ヘッダー -->
    <header>
      <h1 class="headline">
        <a>ほめるサイト</a>
      </h1>
    </header>
    <!-- ヘッダー終わり -->
    <h1>ここで褒めます</h1>
    <p>職業を選んでください<br>
    <form action="/register_praises" method="GET">
    <input type="radio" class="radiobutton" name="career" value="engineer"> <label for="engineer">エンジニア</label>
    <input type="radio" class="radiobutton" name="career" value="student"> <label for="student">学生</label>
    <input type="radio" class="radiobutton" name="career" value="other"> <label for="other">その他</label>
    </p>
    <input type="text" size="70" maxLength="50"  name="prise_comment" value="コメントを入力してください（最大50文字） 例:さんって素敵ですね!" />
    <p><input type="submit" value="コメントを送る!"></p>
  </body>
</html>
