<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style type="text/css" media="screen">
      @import url("/static/css/praise.css");
    </style>
    <title>Heartful</title>
  </head>
  <meta charset="utf-8" />
  <body>
    <!-- ヘッダー -->
    <header>
      <h1 class="headline">
        <!-- <a>Heartful</a> -->
        <button type="button" id="logo_button" class="logo_button">Heartful</button>
      </h1>
    </header>
    <!-- ヘッダー終わり -->
    <h1 class="message">他人を褒めてみましょう!!</h1>
    <p class="text1">職業を選んでください!!<br></p>
    <form action="/register_praises" method="POST" class="carrer_choise">
      <div class="radiobuttons">
        <input type="radio" class="radiobutton" name="career" value="engineer" id="engineer"> <label for="engineer">エンジニア</label>
        <input type="radio" class="radiobutton" name="career" value="student" id="student"> <label for="student">学生</label>
        <input type="radio" class="radiobutton" name="career" value="other" id="other"> <label for="other">その他</label>
      </div>
      <input type="text" size="70" maxLength="50"  name="praise_comment" placeholder="コメントを入力してください（最大50文字） 例:さんって素敵ですね!" />
      <p><input type="submit" value="コメントを送る!"></p>
    </form>
    <script type="text/javascript" src="/static/js/logo_button.js"></script>
  </body>
</html>
