<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ほめるサイト</title>
  </head>
  <meta charset="utf-8" />
  <body>
    <!-- ヘッダー -->
    <header>
      <h1 class="headline">
        <a>ほめるサイト</a>
      </h1>
    </header>
    <!-- ヘッダー終わり -->
    <h1>ここで褒めます</h1>
    </form>
  </body>
</html>
